.login-wrap {
  width: 400px;
  min-height: 569px;
  background: #ffffff;
 box-shadow: 0 0 10px 0 rgb(0 33 79 / 11%);
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -315px;
  margin-left: -200px;
}
.login-top {
  height: 13%;
  color: rgb(68, 68, 68);
  text-align: center;
  font-size: 35px;
  padding: 20px 16px 0;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}
.login-select-form {
  height: 70%;
  padding-top: 20px;
}
.login-select-form-content {
  margin-top: 15px;
  padding: 0 30px;
}
.login-text {
  height: 17%;
  padding: 13px 0 26px;
  font-size: 14px;
  text-align: center;
}
