
    .resultside_content{
        width: 100%;
        height: auto;
        .title{
            font-size: 20px;
            text-align: center;
            height: 40px;
        }
        .path{
            white-space: pre;
        }
    }
    .text_result{
        .text_result_title{
            display: flex;
            justify-content: space-between;
            .distance{
                width: 200px;
            }
        }
    }
   
