
    .resultside_content{
        width: 100%;
        height: auto;
        .title{
            font-size: 20px;
            text-align: center;
            height: 40px;
        }
        .path{
            white-space: pre;
        }
    }
   
